@import "../../variables";

.Speedometer {
  position: relative;

  .counter {
    transform: translate(-8px, -36px);
  }

  .legend {
    color: $cyan;
    position: absolute;
    top: 125px;
    left: 300px;
  }

  /*seconds*/
  .number {
    float: left;
    width: 100px;
    height: 100px;
    margin: 5% 0 0;
    padding: 0;
    transform: skew(-10deg) scale(.5, .45);

    /*milliseconds*/
    &:nth-child(4) {
      width: 55px;
      height: 60px;
      margin-top: 56px;
      margin-left: 15px;
      transform: skew(-10deg) scale(.30, .27);

      // decimal point
      &:before {
        display: block;
        top: 260px;
        left: -55px;
        width: 34px;
        height: 31px;
        border-radius: 10px;
        content: "";
        background-color: $cyan !important;
      }
    }

    /* segments && decimal */
    p,
    p:before,
    p:after,
    &:nth-child(4):before {
      position: absolute;
      margin: 0;
      padding: 0;
      background-color: darken($cyan, 35%);
    }

    /*digits*/
    p {
      width: 29px;
      height: 100px;
    }

    p:nth-child(4) {
      height: 110px;
    }

    p:before,
    p:after {
      content: "";
      display: block;
      width: 29px;
      height: 29px;
      transform: rotate(45deg);
    }

    p:before {
      top: -15px;
    }

    p:after {
      bottom: -15px;
    }

    p:nth-child(4):before,
    p:nth-child(4):after {
      left: 4px;
      width: 20px;
      height: 20px;
    }

    p:nth-child(4):before {
      top: -10px;
    }

    p:nth-child(4):after {
      bottom: -10px;
    }

    /*segments*/
    p:nth-child(1) {
      top: 0;
      left: 0;
    }
    p:nth-child(2) {
      top: -70px;
      left: 70px;
    }
    p:nth-child(3) {
      top: 0;
      left: 140px;
    }
    p:nth-child(4) {
      top: 70px;
      left: 70px;
    }
    p:nth-child(5) {
      top: 150px;
      left: 0;
    }
    p:nth-child(6) {
      top: 220px;
      left: 70px;
    }
    p:nth-child(7) {
      top: 150px;
      left: 140px;
    }

    /*horizontal rotation */
    p:nth-child(even) {
      transform: rotate(90deg);
    }

    /*top & left side borders*/
    p:nth-child(1):before,
    p:nth-child(1):after,
    p:nth-child(2):before,
    p:nth-child(2):after,
    p:nth-child(5):before,
    p:nth-child(5):after {
      left: -6px;
      border-radius: 0 0 0 99px;
    }

    /*bottom & right borders */
    p:nth-child(3):before,
    p:nth-child(3):after,
    p:nth-child(6):before,
    p:nth-child(6):after,
    p:nth-child(7):before,
    p:nth-child(7):after {
      right: -6px;
      border-radius: 0 99px 0 0;
    }

    //@for $i from 1 through length($shadow) {
    //  @if nth($shadow, $i) != "none" {
    //    $result: append($result, nth($shadow, $i), "comma");
    //  }
    //}

    // Number definitions
    &.number--0 {
      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(3),
      p:nth-child(5),
      p:nth-child(6),
      p:nth-child(7),
      p:nth-child(1):before,
      p:nth-child(1):after,
      p:nth-child(2):before,
      p:nth-child(2):after,
      p:nth-child(3):before,
      p:nth-child(3):after,
      p:nth-child(5):before,
      p:nth-child(5):after,
      p:nth-child(6):before,
      p:nth-child(6):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }

    &.number--1 {
      p:nth-child(3),
      p:nth-child(7),
      p:nth-child(3):before,
      p:nth-child(3):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }

    &.number--2 {
      p:nth-child(2),
      p:nth-child(3),
      p:nth-child(4),
      p:nth-child(5),
      p:nth-child(6),
      p:nth-child(2):before,
      p:nth-child(2):after,
      p:nth-child(3):before,
      p:nth-child(3):after,
      p:nth-child(4):before,
      p:nth-child(4):after,
      p:nth-child(5):before,
      p:nth-child(5):after,
      p:nth-child(6):before,
      p:nth-child(6):after {
        background-color: $cyan;
      }
    }

    &.number--3 {
      p:nth-child(2),
      p:nth-child(3),
      p:nth-child(4),
      p:nth-child(6),
      p:nth-child(7),
      p:nth-child(2):before,
      p:nth-child(2):after,
      p:nth-child(3):before,
      p:nth-child(3):after,
      p:nth-child(4):before,
      p:nth-child(4):after,
      p:nth-child(6):before,
      p:nth-child(6):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }

    &.number--4 {
      p:nth-child(1),
      p:nth-child(3),
      p:nth-child(4),
      p:nth-child(7),
      p:nth-child(1):before,
      p:nth-child(1):after,
      p:nth-child(3):before,
      p:nth-child(3):after,
      p:nth-child(4):before,
      p:nth-child(4):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }

    &.number--5 {
      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(4),
      p:nth-child(6),
      p:nth-child(7),
      p:nth-child(1):before,
      p:nth-child(1):after,
      p:nth-child(2):before,
      p:nth-child(2):after,
      p:nth-child(4):before,
      p:nth-child(4):after,
      p:nth-child(6):before,
      p:nth-child(6):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }

    &.number--6 {
      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(4),
      p:nth-child(5),
      p:nth-child(6),
      p:nth-child(7),
      p:nth-child(1):before,
      p:nth-child(1):after,
      p:nth-child(2):before,
      p:nth-child(2):after,
      p:nth-child(4):before,
      p:nth-child(4):after,
      p:nth-child(5):before,
      p:nth-child(5):after,
      p:nth-child(6):before,
      p:nth-child(6):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }

    &.number--7 {
      p:nth-child(2),
      p:nth-child(3),
      p:nth-child(7),
      p:nth-child(2):before,
      p:nth-child(2):after,
      p:nth-child(3):before,
      p:nth-child(3):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }

    &.number--8 {
      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(3),
      p:nth-child(4),
      p:nth-child(5),
      p:nth-child(6),
      p:nth-child(7),
      p:nth-child(1):before,
      p:nth-child(1):after,
      p:nth-child(2):before,
      p:nth-child(2):after,
      p:nth-child(3):before,
      p:nth-child(3):after,
      p:nth-child(4):before,
      p:nth-child(4):after,
      p:nth-child(5):before,
      p:nth-child(5):after,
      p:nth-child(6):before,
      p:nth-child(6):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }

    &.number--9 {
      p:nth-child(1),
      p:nth-child(2),
      p:nth-child(3),
      p:nth-child(4),
      p:nth-child(7),
      p:nth-child(1):before,
      p:nth-child(1):after,
      p:nth-child(2):before,
      p:nth-child(2):after,
      p:nth-child(3):before,
      p:nth-child(3):after,
      p:nth-child(4):before,
      p:nth-child(4):after,
      p:nth-child(7):before,
      p:nth-child(7):after {
        background-color: $cyan;
      }
    }
  }
}
