.Dashboard {
  width: 800px;
  height: 480px;
  background-color: black;
  position: relative;
}

/*.overlay {*/
/*  pointer-events: none;*/
/*  position: absolute;*/
/*  width: 100%;*/
/*  height: 100%;*/
/*  background:*/
/*          repeating-linear-gradient(*/
/*                  180deg,*/
/*                  rgba(0, 0, 0, 0) 0,*/
/*                  rgba(0, 0, 0, 0.3) 50%,*/
/*                  rgba(0, 0, 0, 0) 100%);*/
/*  background-size: auto 4px;*/
/*  z-index: 1;*/
/*}*/

.overlay {
    height: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
}

.overlay:before {
    background: linear-gradient(#101010 0%, rgba(16, 16, 16, 0.2) 20%), linear-gradient(90deg, rgba(255, 0, 0, 0.03), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.03));
    background-size: 100% 3px, 6px 100%;
    content: "";
    display: block;
    pointer-events: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
}
