@import "../../variables";

.WaterTemperature {
  color: $cyan;
  font-size: 10px;

  .icon {
    display: inline-block;
    height: 25px;
    width: 25px;

    &.icon--water-temperature {
      background: $cyan;
      mask: url('../../icons/engine-coolant.svg') center no-repeat;
    }
  }
}
