@import "../../variables";

.LoadingScreen {
  color: $cyan;

  display: block;
  position: absolute;
  background: black;
  height: 100vh;
  z-index: 9999;

  .loadingContent {
    height: 100vh;
  }

  .novaLogo {
    background: $white;
    -webkit-mask-size: 100%;
    mask-size: 100%;
    mask-repeat: no-repeat;

    display: block;
    width: 500px;
    height: 144px;

    -webkit-mask-image: url('../../icons/nova_logo.svg');
    mask-image: url('../../icons/nova_logo.svg');
  }
}
