@import "../../variables";

// CONFIG
$totalRPMs: 8;

// actual block
$blockHeight: 35; // 35 px
$blockSections: 5; // 5
$blockRightMargin: 4.5%; // %
$blockTotalMargin: $blockRightMargin * ($blockSections - 1);
$blockWidth: (100 / $blockSections) - ($blockTotalMargin / $blockSections); // %

// block group
$blockGroupVerticalPadding: 5; // px
$blockGroupRightMargin: 1%;
$blockGroupTotalMargin: $blockGroupRightMargin * ($totalRPMs - 1);
$blockGroupWidth: (100 / $totalRPMs) - ($blockGroupTotalMargin / $totalRPMs);

// blocks container
$blocksContainerBorderSize: 5; // px
$blocksContainerVerticalPadding: 5; // px
$blocksContainerHeight: $blockHeight + ($blocksContainerVerticalPadding * 2) + ($blocksContainerBorderSize * 2);


.Tachometer {
  height: 25vh;
}

.times {
  text-align: right;
  color: $cyan;
  font-family: 'arcade';
  font-style: normal;
  font-weight: normal;
  font-size: 10px;

  span {
    font-size: 8px;
  }
}

// Numbers container
.numbers-container {
  color: $cyan;
  margin-bottom: 5px;

  .number {
    display: inline-block;
    width: #{$blockGroupWidth};
    margin-right: $blockGroupRightMargin;
    font-size: 20px;
    font-family: 'arcade';
    font-style: normal;
    font-weight: normal;

    &:last-child {
      margin: 0;
    }
  }
}

// Blocks container
.blocks-container {
  display: block;
  height: #{$blocksContainerHeight}px;
  padding: #{$blockGroupVerticalPadding}px 0;
  border-top: #{$blocksContainerBorderSize}px solid $cyan;
  border-bottom: #{$blocksContainerBorderSize}px solid $cyan;
  position: relative;

  .block-group {
    display: inline-block;
    width: #{$blockGroupWidth};
    height: #{$blockHeight}px;
    margin-right: $blockGroupRightMargin;
  }
  .block-group:last-child {
    margin-right: 0;
  }

  .block {
    height: #{$blockHeight}px;
    width: #{$blockWidth};
    margin-right: #{$blockRightMargin};
    display: inline-block;
    opacity: 0.2;

    &.active {
      opacity: 1;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .block--red .block {
    background: $red;
  }

  .block--orange .block {
    background: $orange;
  }

  .block--green .block {
    background: $green;
  }
}
