@charset "UTF-8";

// Bootstrap components
$color: #19EEFE;
$blue:    #007bff !default; // #17D4FE
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #F556FB !default;
$red:     #dc3545 !default;
$orange:  #fd7e14 !default;
$yellow:  #FFFC3A !default;
$green: #0b8526 !default;
$teal:    #20c997 !default;
$cyan:    #19EEFE !default; //17a2b8

@import '~bootstrap/scss/bootstrap';
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// End boostrap
