@charset "UTF-8";

@import "variables";

// Bootstrap components
@import "~bootstrap/scss/root";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/progress";

.no-gutters {
  margin-right: 0;
  margin-left: 0;

  > .col,
  > [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }
}
// End boostrap

@font-face {
  font-family: 'arcade';
  src: url('./fonts/arcade.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
